<section id="quick-links-section">
    <div class="quick-links-container">
        
        <a href="services.html" class="quick-link">
            <img src="img/Integrated Solutions.jpg" alt="Solutions">
            <h4>Solutions</h4>
        </a>

        <a href="services.html" class="quick-link">
            <img src="img/Commodity Trading2.png" alt="Trading">
            <h4>Trading</h4>
        </a>

        <a href="services.html" class="quick-link">
            <img src="img/Market Entry Advisory.jpg" alt="Market Entry">
            <h4>Market Entry</h4>
        </a>

        <a href="services.html" class="quick-link">
            <img src="img/Supply Chain.png" alt="Supply Chain">
            <h4>Supply Chain</h4>
        </a>

        <a href="services.html" class="quick-link">
            <img src="img/Packaging.png" alt="Packaging">
            <h4>Packaging</h4>
        </a>

        <a href="contact.html" class="quick-link">
            <img src="img/Contact Us.jpg" alt="Contact">
            <h4>Contact Us</h4>
        </a>

    </div>
</section>
